@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap');
@import '../Variables/Variables.scss';



.grid-container {
    border: 1.9px solid #daa520;
    display: grid;
    grid-template-columns: 60px 5fr 80px 6fr 60px;
    grid-template-rows: 50px 1fr 1fr 50px;
  }
  
  .green-box {
    background-color: $sageColor;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
  }
  
  .text-box {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  
  .teapot-image {
    
    background-color: yellow;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
  }
  
  .flowers-image {
    background-color: pink;
    grid-column: 4 /6;
    grid-row: 3 / 5;
  }
  