$sageColor: #86907d;
$biscuitColor: #f0d989;
$milk: #ffffff;
$almostBlack: #0f0f0f;
$libraryGreen: #5a684c;

/*:root {
    --colour-sage: #86907D;
    --colour-biscuit: #F0D989;
    --colour-black: #111;
    --colour-white: #fff;
  
    --font-roboto: "Roboto", Arial, sans-serif;
  }*/
