@import "../Variables/Variables.scss";

.footer {
  display: flex;
  background-color: $sageColor;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22.5rem;
}

.firstChild {
  color: $sageColor;
  font-family: "Cormorant";
  padding: 1rem;
  padding-top: 12rem;
}

.thelogo {
  background-color: $sageColor;
}
.theLogoText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "roboto";
}

.logoFooter {
  display: grid;
  align-items: center;
}

p {
  color: $milk;
  font-family: "Cormorant";
}
h6 {
  color: $milk;
  font-family: "Cormorant";
  font-size: 18px;
}

.grid-containerFooter {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(0, 1fr);
  // padding-left: 4rem;
  // padding-right: 2rem;
  gap: 4rem;
}

.allTheiteams {
  display: flex;
  gap: 3rem;
}

.grid-item {
  background-color: $sageColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.grid-iteam1 {
  padding: 0%;
  width: 140px;
  color: $milk;
  font-family: "Cormorant";
}
.grid-iteam2 {
  padding: 0%;
  width: 9rem;
  color: $milk;
  font-family: "Cormorant";
}

.grid-iteam3 {
  padding: 0%;
  width: 7rem;
  color: $milk;
  font-family: "Cormorant";
}
.grid-iteam4 {
  padding: 0%;
  width: 8rem;
  color: $milk;
  font-family: "Cormorant";
}
.secondLogoText {
  display: none;
}

/* ------- MEDIA QUERY ------- */
@media (max-width: 720px) {
  .theLogo {
    display: block;
    justify-items: center;
    justify-content: center;
  }
  .footer {
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;
    height: 700px;
  }
  .grid-containerFooter {
    display: grid;
    gap: 2px;
  }

  .firstChild {
    padding-top: 3rem;
    padding-left: 15rem;
    background-color: #86907d;
  }

  p.theLogoText {
    display: none;
  }
  .secondLogoText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "roboto";
  }
  /* this need to be fixed till 4 */

  .allTheiteams {
    display: grid;
    justify-content: start;
    gap: 2rem;
    margin-top: 4rem;
  }

  // #theIteams {
  //   justify-content: center;
  //   justify-items: center;
  // }
  .grid-iteam2 {
    padding: 0%;
    width: 9rem;
    color: $milk;
    font-family: "Cormorant";
  }

  .grid-iteam3 {
    padding: 0%;
    width: 7rem;
    color: $milk;
    font-family: "Cormorant";
  }
  .grid-iteam4 {
    padding: 0%;
    width: 8rem;
    color: $milk;
    font-family: "Cormorant";
  }
}
