@import "../Variables/Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap");

.header {
  display: flex;
  background-color: $sageColor;
  align-items: center;
  justify-content: space-between;
}

.theLogo {
  height: 1.9rem;
  padding-left: 2rem;
}

.links {
  width: 70%;
  height: 40px;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 30px;
}

li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Cormorant";
}

/* MEDIA QUERY */

@media (max-width: 720px) {
  .header {
    display: none; /* hiding all the bar */
    background-color: $sageColor;
  }
  .tea-book-image {
    width: 100%;
  }

  nav {
    padding: 0 20px;
    background: #86907d;
    height: auto;
    width: 100%;
    border-bottom: 2px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 1rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100;
    width: 100%;
    li {
      padding: 0.5rem 3rem;
      width: 20rem;
      text-align: center;
    }
  }

  .links {
    justify-content: center;
    width: 70%;
    height: 10rem;
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 30px;
  }
}
