@import "./pages/Style/Variables/Variables.scss";
@import "./pages/Style/Header/Header.scss";
@import "./pages/Style/Variables/Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap');

body {
    margin: 0px;
    
}
.hero {
    display: grid;
    grid-template-areas: "picture";
    place-items: center;
    background-image: url('../src/pages/img/first.png') ;
    height: 48vw;
    background-size: cover;
}

.hero-title {
    color: white;
    font-family: 'Cormorant';
    font-size: 88px;
    text-align: center; 
    max-width: 30rem;
    line-height: 1.09;

}

@media (max-width:720px) {
    .hero-title {
        color: red;
    }
    
}


