@import './pages/Style/Header/Header.scss';
@import './pages/Style/Variables/Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap');

body {
  margin: 0px;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  background-color: rgb(255, 249, 249);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  background-color: rgb(255, 249, 249);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.hero {
  display: grid;
  grid-template-areas: 'picture';
  place-items: center;
  background-image: url('../src/pages/img/first.png');
  height: 48vw;
  background-size: cover;
}

.hero-title {
  color: white;
  font-family: 'Cormorant';
  font-size: 88px;
  text-align: center;
  max-width: 30rem;
  line-height: 1.09;
}

@media (max-width: 720px) {
  .hero-title {
    color: red;
  }
}
@media (max-width: 768px) {
  .image {
    width: 80%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

  .right-arrow,
  .left-arrow {
    background-color: rgb(255, 249, 249);
    color: rgb(0, 0, 0);
    font-size: 2rem; /* Adjust the font size as needed */
    top: 50%; /* Adjust the vertical position as needed */
    border-radius: 17px;
  }
  .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
