@import './pages/Style/Menu/Menu.scss';
@import './pages/Style/Header/Header.scss';
@import './pages/Style/Variables/Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap');

body {
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  background-color: rgb(255, 249, 249);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  background-color: rgb(255, 249, 249);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.hero {
  display: grid;
  grid-template-areas: 'picture';
  place-items: center;
  background-image: url('../src/pages/img/first.png');
  height: 48vw;
  background-size: cover;
}

.hero-title {
  color: white;
  font-family: 'Cormorant';
  font-size: 88px;
  text-align: center;
  max-width: 30rem;
  line-height: 1.09;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* MEDIA QUERY */

@media (max-width: 720px) {
  body {
    padding: 0px;
    margin: 0px;
  }

  .image {
    width: 93%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
  }

  .right-arrow,
  .left-arrow {
    background-color: rgb(255, 249, 249);
    color: rgb(0, 0, 0);
    font-size: 2rem; /* Adjust the font size as needed */
    top: 50%; /* Adjust the vertical position as needed */
    border-radius: 17px;
  }
  .slide {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    display: grid;
    grid-template-areas: 'picture';
    place-items: center;
    background-image: url('../src/pages/img/first.png');
    height: 19rem;
    background-size: cover;
  }
}
