@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap");
@import "../Variables/Variables.scss";
@import "../Navbar/Navbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menuHero {
  display: grid;
  grid-template-areas: "picture";
  place-items: center;
  width: 100%;
  height: 48vw;
  background-size: cover;
}

.menuContainer {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  font-family: "Cormorant", serif;
  margin-top: 50px;
  justify-content: flex-start;
}
h1.title {
  color: $almostBlack;
  margin-right: 2px;
  font-size: 40px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.subtitle {
  display: flex;
  font-size: 30px;
  margin-bottom: 10px;
  color: $sageColor;
}
.ptag {
  font-size: 20px;
  margin-bottom: 30px;
  color: black;
  min-width: 10rem;
}
.price {
  display: grid;
  font-size: 20px;
  margin-left: auto;
  color: black;
  justify-content: end;
  padding-left: 5rem;
}

.thetext {
  display: flex;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48vw; /* Set the height as needed */
}

.menu-title {
  position: absolute;
  color: white;
  font-family: "Cormorant";
  font-size: 88px;
  text-align: center;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.special {
  color: $sageColor;
  font-family: "Cormorant", serif;
  font-size: 2.7rem;
  border-color: #f00;
}

legend {
  color: blue;
}

.fieldset {
  margin: 5rem;
  padding: 3rem;
  border-color: yellow;
}
.menu-bottom-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/menu-bottom-pic.png");
  height: 55vw;
  text-align: center;
  background-size: cover;
  margin-top: 4rem;
}

.menuBottomHtag {
  display: inline-flex;
  max-width: 36rem;
  font-size: 70px;
  font-family: "Cormorant", serif;
  margin-bottom: 1rem;
  padding: 5px;
  font-weight: 300;
}

/* MEDIA QUERY */
@media (max-width: 720px) {
  .menuHero {
    margin-top: 184px;
    width: 100%;
    height: 80vw;
  }
  .menu-title {
    margin-top: 12.5rem;
    font-size: 40px;
  }

  .menuContainer {
    margin-top: 10px;
    padding: 2rem;
  }
  .price {
    padding-left: 2rem;
  }

  .fieldset {
    margin: 2rem;
    padding: 2rem;
    border-color: yellow;
  }
  .menu-bottom-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/menu-bottom-pic.png");
    height: 125vw;
    text-align: center;
    background-size: cover;
    margin-top: 4rem;
  }

  .menuBottomHtag {
    padding: 20px;
    width: 100%;
    font-size: 35px;
    font-family: "Cormorant", serif;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  h1.title {
    margin-top: 10rem;
  }
}
