/*:root {
    --colour-sage: #86907D;
    --colour-biscuit: #F0D989;
    --colour-black: #111;
    --colour-white: #fff;
  
    --font-roboto: "Roboto", Arial, sans-serif;
  }*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap");
@media (min-width: 721px) {
  .theNavbar {
    display: none;
  }
  /*nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  }*/
}

/* MEDIA QUERY */
@media (max-width: 720px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .list {
    list-style: none;
    flex-direction: column;
    height: auto;
    gap: 1.2rem;
    padding: 3rem;
  }
  .items:nth-child(1) {
    /*border-top: 1px solid #000;*/
    margin-top: 50px;
  }
  .items {
    width: 100%;
    text-align: center;
    margin-right: 0px;
    color: white;
    padding: 20px 0px;
  }
  .btn {
    align-self: flex-end;
  }
  .TheLogAndBtn {
    display: flex;
    justify-content: space-between;
  }
  .theLogo {
    justify-content: center;
    justify-items: center;
    padding: 1.5px;
    padding-left: 1px;
    margin-top: 9px;
  }
  .hamburger-react {
    color: #ffffff;
  }
}
