/*:root {
    --colour-sage: #86907D;
    --colour-biscuit: #F0D989;
    --colour-black: #111;
    --colour-white: #fff;
  
    --font-roboto: "Roboto", Arial, sans-serif;
  }*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&display=swap");
@media (min-width: 721px) {
  .theNavbar {
    display: none;
  }
}
