@import "../Variables/Variables.scss";

form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: $sageColor;

  margin: 10px 0;
}
input,
textarea {
  padding: 10px;
  margin: 17px 0;
  font-size: 16px;
  height: 49px;
  border: 2px solid $sageColor;
}
button {
  padding: 15px 72px;
  background-color: $sageColor;
  color: white;
  border: none;
  border-radius: 0px;
  // cursor: pointer;
  font-size: 20px;
  font-family: "Cormorant", serif;
}

.reserv-sub {
  font-size: 35px;
  color: $almostBlack;
  margin-bottom: 17px;
  font-weight: 400;
}

.container-reservat {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 70px 15px 70px 0px;
}

.top-text {
  display: grid;
  justify-content: center;
  margin-right: 2rem;
}

.ptag-reserv {
  color: $almostBlack;
  width: 29rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  // font-size: 17px;
}

.dateTimeGroup {
  display: flex;
  gap: 2rem;
}

.nameContactNumber {
  display: flex;
  gap: 2rem;
  display: flex;
}
.dateTimeGroupSize {
  width: 145px;
}

#name,
#contact {
  width: 235px;
}

#commentRequest {
  width: 502px;
  height: 6rem;
}

.conditions {
  display: flex;
  gap: 10px;
}

.agreement {
  display: flex;
  color: $almostBlack;
  align-items: center;
  width: 30.18rem;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.theLeftIcon {
  height: 70px;
  width: 87px;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 150px;
}

.theRightIcon {
  margin-left: 10px;
  margin-top: 170px;
}

.allInOne {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-right: 0px;
}

.theLabels {
  margin-top: 20px;
}
