/*:root {
    --colour-sage: #86907D;
    --colour-biscuit: #F0D989;
    --colour-black: #111;
    --colour-white: #fff;
  
    --font-roboto: "Roboto", Arial, sans-serif;
  }*/
form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #86907D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
